name: cf workers

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: cf
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Rust
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain stable
          source "$HOME/.cargo/env"
          rustup target add wasm32-unknown-unknown
          rustup component add rust-src
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH
      
      - name: Install worker-build
        run: cargo install worker-build
      
      - name: Build with specific flags
        run: |
          export RUSTFLAGS="-C target-feature=+atomics,+bulk-memory,+mutable-globals"
          worker-build --release
      
      - name: Deploy
        run: npx wrangler@3 deploy
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          
          
